<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Karthik Naidu" />
  <meta name="description" content="Algorithms and Programs" />
  <link rel="openid.server" href="http://www.clickpass.com/openid_server" />
  <link rel="openid.delegate" href="http://clickpass.com/public/holman" />
  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/holman" />
  <link rel="stylesheet" href="/algorithms-programs/css/compiled/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/algorithms-programs/css/plugins/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/algorithms-programscss/compiled/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/algorithms-programscss/compiled/iphone.css" type="text/css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/algorithms-programsjs/compiled/application.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      {{ page.script }}
    });
  </script>
</head>

<body>
	<section class="name">
	<a href="/algorithms-programs">
		
  		<span id="holman">Algorithms | Programs</spa>
		
	</a>
	</section>
  
  <section class="sidebar">
  
    <ul>
      {% for category in site.categories %}
        <li><a href="#{{ category | first }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
    
  </section>

  {{ content }}

  <!-- Traffic tracker scripts goes here -->

</body>

</html>